<div class="table-t">

    <form [formGroup]="registerForm" (ngSubmit)="guardar($event)" method="POST">
        <div id="formulario">
            <h1> Crear Usuario </h1>
        </div>

        <div id="tabla-formulario">
            <label for="nombre">Nombres</label>
            <input placeholder="Ingrese su nombre..." formControlName="nombres"  type="text" id="tabla1">

            <label for="direccion">Direccion</label>
            <input placeholder="Ingrese su direccion..." formControlName="direccion"  type="text" id="tabla1">

        
            <label for="username">Username</label>
            <input placeholder="Ingrese su username..." formControlName="direccion"  type="text" id="tabla1">

            <label for="email">Email </label>
            <input placeholder="Escriba email" formControlName="username"  type="text" id="tabla5">

            <label for="contrasena">Contrasena </label>
            <input placeholder="Escriba contrasena" formControlName="contrasena"  type="password" id="tabla6">
           
           
            
        </div>
        <button [disabled]="!registerForm.valid" (click)="guardar($event)" name="registro" type="submit" class="btn btn-danger btn-sm m-2" id="button"> 
            
            <a class="btn btn-danger btn-sm m-2" >¡Registrarse!</a>
        </button>
        
    </form>
</div>
